<div class="form-style">
    <p>
        <span style="font-size:18px;"> Hi <strong><%= user.username %></strong></span>
        <br/> Welcome to <b><%= site_title %></b>.<br/>
    </p>

    <table id="profile-info">
        <caption>Here is your profile info:</caption>
        <tr>
            <td>Gravatar Image:</td>
            <td align="center">
                <a href="#" id="gravatar-link" target="_blank">
                    <img alt="Gravatar" id="gravatar-img"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>User ID:</td>
            <td><strong><%= user.id %></strong></td>
        </tr>
        <tr>
            <td>User Name:</td>
            <td><strong><%= user.username %></strong></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><strong id="user-email"><%= user.email %></strong></td>
        </tr>
    </table>

    <p>Thank you!</p>
</div>