<!DOCTYPE html>
<html lang="<%= site_lang %>" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- default meta tags -->
    <meta charset="UTF-8"/>
    <meta name="language" content="<%= site_lang %>">
    <meta name="description" content="<%= site_description %>"/>

    <!-- open graph meta tags -->
    <!-- more here: http://ogp.me/ -->
    <meta name="og:title" content="<%= site_title %>"/>
    <meta name="og:type" content="<%= site_type %>"/>
    <meta name="og:image" content="<%= site_image %>"/>
    <meta name="og:url" content="<%= site_url %>"/>
    <meta name="og:site_name" content="<%= site_name %>"/>
    <meta name="og:description" content="<%= site_description %>"/>


    <title><%= site_title %></title>
    <link rel='stylesheet' href='/styles/style.css'/>
    <script src="/scripts/md5.js"></script>
    <script type="text/javascript" src="/scripts/functions.js"></script>

</head>

<body
        <% if(page === "profile") { %>
        onload="setGravatarProfile('<%= user.email %>');"
        <% } %>
>

<div align="center">

    <h1><%= site_title %></h1>
    <hr width="400px"/>

    <div align="center" style="padding: 20px">
        <% include components/menubar.ejs %>
    </div>

    <% if(page === "home") { %>
    <% include components/home.ejs %>
    <% } else if(page === "profile") { %>
    <% include components/profile.ejs %>
    <% } else { %>
    <div class="form-style">
        <% if(page === "login") { %>
        <% include components/login.ejs %>
        <% } else if(page === "register") { %>
        <% include components/register.ejs %>
        <% } %>

        <p id="response" class="info">
            <% if(msg != null) { %>
            <%= msg %>
            <% } %>
        </p>
    </div>
    <% } %>

</div>

</body>

</html>
